In [121]:
# https://www.youtube.com/watch?v=Lffe6jgvb8U&list=PLfMRLSpipmfsLoyO-deGWkJ0RAQf9gU20&index=13&ab_channel=TirendazAkademi
import pandas as pd; import numpy as np

### Araliklara Bolme

### Aykiri degerleri filtreleme

### Satirlardan rastgele orneklem alma

### Dummy degiskenine donusturme

### Araliklara Bolme
pd.cut()

.codes

.categories

pd.qcut

In [30]:
point=[80,30,40,60,75,90,63,70,25,80,100]
# df= pd.DataFrame(nt)
step=[20,40,60,80,100]
aralik=pd.cut(point, step)
aralik

[(60, 80], (20, 40], (20, 40], (40, 60], (60, 80], ..., (60, 80], (60, 80], (20, 40], (60, 80], (80, 100]]
Length: 11
Categories (4, interval[int64]): [(20, 40] < (40, 60] < (60, 80] < (80, 100]]

In [31]:
aralik.codes

array([2, 0, 0, 1, 2, 3, 2, 2, 0, 2, 3], dtype=int8)

In [32]:
df=pd.DataFrame({'point':point, "aralik":aralik, 'level':aralik.codes})
df

    point     aralik  level
0      80   (60, 80]      2
1      30   (20, 40]      0
2      40   (20, 40]      0
3      60   (40, 60]      1
4      75   (60, 80]      2
5      90  (80, 100]      3
6      63   (60, 80]      2
7      70   (60, 80]      2
8      25   (20, 40]      0
9      80   (60, 80]      2
10    100  (80, 100]      3

In [33]:
aralik.categories

IntervalIndex([(20, 40], (40, 60], (60, 80], (80, 100]],
              closed='right',
              dtype='interval[int64]')

In [34]:
pd.value_counts(aralik)

(60, 80]     5
(20, 40]     3
(80, 100]    2
(40, 60]     1
dtype: int64

In [35]:
aralik=pd.cut(point, step,right=False)
aralik

[[80, 100), [20, 40), [40, 60), [60, 80), [60, 80), ..., [60.0, 80.0), [60.0, 80.0), [20.0, 40.0), [80.0, 100.0), NaN]
Length: 11
Categories (4, interval[int64]): [[20, 40) < [40, 60) < [60, 80) < [80, 100)]

In [36]:
step_names=['low','medium','high','very high']
aralik=pd.cut(point, step, labels=step_names)
aralik

[high, low, low, medium, high, ..., high, high, low, high, very high]
Length: 11
Categories (4, object): [low < medium < high < very high]

In [42]:
aralik=pd.cut(point,4)
aralik

[(62.5, 81.25], (24.925, 43.75], (24.925, 43.75], (43.75, 62.5], (62.5, 81.25], ..., (62.5, 81.25], (62.5, 81.25], (24.925, 43.75], (62.5, 81.25], (81.25, 100.0]]
Length: 11
Categories (4, interval[float64]): [(24.925, 43.75] < (43.75, 62.5] < (62.5, 81.25] < (81.25, 100.0]]

In [84]:
veri=np.random.randn(100)
pd.qcut(veri,4)

[(0.0676, 0.643], (0.643, 2.252], (0.643, 2.252], (-0.7, 0.0676], (0.0676, 0.643], ..., (0.0676, 0.643], (-0.7, 0.0676], (0.643, 2.252], (-0.7, 0.0676], (0.643, 2.252]]
Length: 100
Categories (4, interval[float64]): [(-1.8559999999999999, -0.7] < (-0.7, 0.0676] < (0.0676, 0.643] < (0.643, 2.252]]

In [85]:
pd.cut(veri,4)

[(0.198, 1.225], (0.198, 1.225], (0.198, 1.225], (-0.828, 0.198], (0.198, 1.225], ..., (0.198, 1.225], (-0.828, 0.198], (0.198, 1.225], (-0.828, 0.198], (0.198, 1.225]]
Length: 100
Categories (4, interval[float64]): [(-1.859, -0.828] < (-0.828, 0.198] < (0.198, 1.225] < (1.225, 2.252]]

In [86]:
pd.qcut(veri,4).value_counts()

(-1.8559999999999999, -0.7]    25
(-0.7, 0.0676]                 25
(0.0676, 0.643]                25
(0.643, 2.252]                 25
dtype: int64

In [87]:
pd.cut(veri,4).value_counts()

(-1.859, -0.828]    21
(-0.828, 0.198]     34
(0.198, 1.225]      34
(1.225, 2.252]      11
dtype: int64

### Dummy degiskenine donusturme
pd.get_dummies()

In [94]:
veri=pd.DataFrame({'harf':['c','b','a','b','b','a'],
                   'sayi':range(6)})
veri

  harf  sayi
0    c     0
1    b     1
2    a     2
3    b     3
4    b     4
5    a     5

In [95]:
pd.get_dummies(veri)

   sayi  harf_a  harf_b  harf_c
0     0       0       0       1
1     1       0       1       0
2     2       1       0       0
3     3       0       1       0
4     4       0       1       0
5     5       1       0       0

In [96]:
pd.get_dummies(veri['harf'])

   a  b  c
0  0  0  1
1  0  1  0
2  1  0  0
3  0  1  0
4  0  1  0
5  1  0  0

In [97]:
veri=np.random.randn(10)
veri

array([ 0.73557414, -0.58580482,  1.53368019,  0.19456876, -0.14411845,
       -0.20700695, -0.37480704, -1.45258494,  0.60927683, -1.88398107])

In [114]:
df=pd.get_dummies(pd.cut(veri,4))
df

   (-1.887, -1.03]  (-1.03, -0.175]  (-0.175, 0.679]  (0.679, 1.534]
0                0                0                0               1
1                0                1                0               0
2                0                0                0               1
3                0                0                1               0
4                0                0                1               0
5                0                1                0               0
6                0                1                0               0
7                1                0                0               0
8                0                0                1               0
9                1                0                0               0

In [117]:
df.columns=['low','medium','high','very high']
df

   low  medium  high  very high
0    0       0     0          1
1    0       1     0          0
2    0       0     0          1
3    0       0     1          0
4    0       0     1          0
5    0       1     0          0
6    0       1     0          0
7    1       0     0          0
8    0       0     1          0
9    1       0     0          0

In [120]:
df.sum(axis=0)

low          2
medium       3
high         3
very high    2
dtype: int64